<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a> and <a href="https://datacarpentry.org/socialsci-workshop/setup-r-workshop.html#spreadsheet-program">Set Up</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:00PM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/spreadsheets-socialsci/">Data Organization in Spreadsheets</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:30PM</td>        <!-- time    -->
        <td>10 Minute Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>4:00PM</td>        <!-- time    -->
        <td>End Day 1</td>        <!-- content -->
      </tr>    
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/socialsci-workshop/setup-r-workshop.html#spreadsheet-program">Set Up</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:00PM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/openrefine-socialsci/">OpenRefine for Data Cleaning</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:30PM</td>        <!-- time    -->
        <td>10 Minute Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>4:00PM</td>        <!-- time    -->
        <td>End Day 2</td>        <!-- content -->
      </tr>       
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/socialsci-workshop/setup-r-workshop.html#spreadsheet-program">Set Up</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:00PM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-socialsci/">Introduction to R</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:30PM</td>        <!-- time    -->
        <td>10 Minute Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>4:00PM</td>        <!-- time    -->
        <td>End Day 3</td>        <!-- content -->
      </tr>         
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/socialsci-workshop/setup-r-workshop.html#spreadsheet-program">Set Up</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:00PM</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/r-socialsci/">Introduction to R (cont'd)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:30PM</td>        <!-- time    -->
        <td>10 Minute Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>4:00PM</td>        <!-- time    -->
        <td>End Day 4 and <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>        <!-- content -->
      </tr>         
    </table>
  </div>
</div>
